<!DOCTYPE html>
<html>
    <head>
        <title> Layouts </title>
        <style>
            header{
                width:100vw;
                height:40px;
                background-color: navy;
                text-align: center;
                color:#fff;
            }
        
            footer{
                text-align: center;
                width:100vw;
                height:40px;
                background-color: yellow;
            }
        </style>
    </head>
    <body>
        <header>
            This is header
        </header>
        <main>
            {{{body}}}
            {{> welcome }}
        </main>
        <footer>
            This is footer
        </footer>
    </body>
</html>